  .navbar {
    box-shadow: 0 5px 10px saddlebrown;
    border-bottom: 16px solid #6c757d26;
  }
  .navbar-brand {
    font-family: 'Spicy Rice', cursive;
    font-size: 1.5rem;
  }
  
  .nav-link {
    text-transform: uppercase;
    font-family: 'Spicy Rice', cursive;
  }

  body{
    background-image: url("../img/coffee.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
  }



 